/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";

body {
  background-color: #efefef;
  }
/* Always set the map height explicitly to define the size of the div
  * element that contains the map. */

  #map_canvas {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto;
  padding: 0;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

.container-fluid{
  background-color: #fff;
}
.logo-title{
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.logo-title1{
  margin-bottom: 1.1111111111vw;
  font-family: Sen;
  color: #eee;
  -webkit-text-stroke: 0.1vw #3b3938;
  font-size: 50px;
  font-weight: 900;
}
.logo-title2{
  margin-bottom: 1.1111111111vw;
  font-family: Sen;
  color: #eee;
  -webkit-text-stroke: 0.1vw #3b3938;
  font-size: 50px;
  font-weight: 700;
}
.logo-title3{
  margin-bottom: 1.1111111111vw;
  font-family: Sen;
  color: #eee;
  -webkit-text-stroke: 0.1vw #3b3938;
  font-size: 50px;
  font-weight: 700;
}
.title-flame{
  width: 100%;
  background-color: #17a2b8;
  border-radius: 50px;
  text-align: center;
}

.title-flame-text{
  text-decoration:none !important;
  margin-bottom: 1.1111111111vw;
  font-family: Sen;
  color: #ffffff;
  font-size: 28px;
  font-weight: 900;
}

.introduction-title{
  text-decoration:none !important;
  margin-bottom: 1.1111111111vw;
  font-family: Sen;
  color: #17a2b8;
  font-size: 28px;
  font-weight: 900;
}


#target {
  width: 345px;
}

.header_profile_image img{
  border-radius: 50%;
width: 80px;
height: 80px;
object-fit: cover;
}

.switching-text {
  text-decoration:none !important;
  margin-bottom: 1.1111111111vw;
  font-family: Sen;
  color: #f1c846;
  -webkit-text-stroke: 0.05vw #3b3938;
  font-size: 28px;
  font-weight: 900;
}

.th{
  text-align: center;
}
