
/* 全体のスタイル */
.swiper-wrapper {
	width: 100%;
	height: 250px;
}
/* 全スライド共通スタイル */
.swiper-slide {
	color: #ffffff;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 250px;
}


/* 2個目のSwiper全体のスタイル */
.swiper2 {
	height: 80px;
	margin-top: 10px;
}
/* 2個目のSwiperのスライドのスタイル */
.swiper2 .swiper-slide {
	height: 80px;
	line-height: 80px;
	-webkit-filter: brightness(1);
	filter: brightness(1);
}
/* 2個目のSwiperの現在のスライドのスタイル */
.swiper2 .swiper-slide-active {
	-webkit-filter: brightness(1);
	filter: brightness(1);
}

/* bootstrap */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 85%;
  }
  .btn.search-btn {
    background: #f1c846;
    color:#000;
    border: 3px solid #000;
    border-radius:50px;
  }
  .btn.register {
    background: #f1c846;
    color:#181818;
    border: 3px solid #000;
    border-radius:50px;
}
/* その他 */
  .place-list{
    background-color: #F1DB6B;
    border-radius:10px;
  }
  .place-list-text{
    padding:10px;
  }

  //title//

  .search-window{
    background-color: #eee;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #64605e;
  }
  .search-title {
    margin-bottom: 1.1111111111vw;
    font-family: Sen;
    color: #fff;
    -webkit-text-stroke: 0.1vw #3b3938;
    font-size: 50px;
    font-weight: 700;
}
