// Place all the styles related to the my_places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ratings .fa {
  font-size: 30px;
  color: #fc0;
  cursor: pinter;
}

.main-rating{
  display: flex;
}
.bg-color{
  background-color: #f1c846;
}
.rating-value-display{
  font-size: 20px;
}
.todo-list{
  border-width: 3px;
  border-style: solid;
 border-color: #3b3938;
  background-color:#fff;
  border-radius:10px;
}
.form-btn{
  display: flex;
}
.navbar-font{
  font-weight: bold;
}

.btn.custom-btn {
  background: #f1c846;
  color:#000;
  border: 3px solid #000;
  border-radius:50px;
}
.btn.lift-btn {
  color:#fff;
  border: 3px solid #000;
  border-radius:50px;
}
.profile-link{
  color: #fff;
  text-decoration:none !important;
}
